@media (max-width: 360px) {
  /* Estilos específicos para móviles pequeños */
}

/* Otros ejemplos de Media Queries para diferentes tamaños de pantalla */
@media (max-width: 375px) {
  /* Estilos específicos para móviles medianos */
}

@media (max-width: 720px) {
  /* Estilos específicos para smartphones grandes */
}

@media (max-width: 1366px) {
  /* Estilos específicos para ordenadores portátiles medianos */
}

@media (max-width: 1440px) {
  /* Estilos específicos para ordenadores de escritorio medianos */
}

@media (max-width: 1920px) {
  /* Estilos específicos para PC de escritorio grande */
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.pokemon-card {
  background-color: #070713;
  text-decoration: none;
  width: 200px;
  margin: 8px;
  color: white;
  text-align: center;
  transition: transform 0.9s ease;
}

.pokemon-card:hover {
  transform: scale(1.03);
}

.pokemon-card img {
  object-fit: contain;
  height: 120px;
}

.pokemon-card a {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

.no-hover-effect {
  transition: none;
  cursor: default;
}