/* Ejemplo de Media Query para móviles pequeños */
@media (max-width: 360px) {
    /* Estilos específicos para móviles pequeños */
  }
  
  /* Otros ejemplos de Media Queries para diferentes tamaños de pantalla */
  @media (max-width: 375px) {
    /* Estilos específicos para móviles medianos */
  }
  
  @media (max-width: 720px) {
    /* Estilos específicos para smartphones grandes */
  }
  
  @media (max-width: 1366px) {
    /* Estilos específicos para ordenadores portátiles medianos */
  }
  
  @media (max-width: 1440px) {
    /* Estilos específicos para ordenadores de escritorio medianos */
  }
  
  @media (max-width: 1920px) {
    /* Estilos específicos para PC de escritorio grande */
  }

  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px; /* Espacio entre las tarjetas */
  }
  
  .pokemon-card {
    background-color: #070713; /* Añade el color de fondo deseado */
    text-decoration: none; /* Quita el subrayado */
    width: 200px; /* Ancho de la tarjeta */
    margin: 8px; /* Margen alrededor de la tarjeta */
    color: white; /* Cambia el color del texto para que sea legible en el fondo oscuro */
    text-align: center;
    transition: transform 0.9s ease; /* Agrega una transición suave al cambio de tamaño */
  }
  .pokemon-card:hover {
    transform: scale(1.03); /* Aumenta el tamaño en un 10% al pasar el ratón sobre la tarjeta */
  }

  .pokemon-card img {
    object-fit: contain;
    height: 120px; /* Ajusta la altura según tus necesidades */
  }

  .pokemon-card a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del texto del contenedor */
    cursor: auto; /* Cambia el cursor de enlace a predeterminado */
  }
  .no-hover-effect {
    transition: none;
    cursor: default;
  }