body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Ejemplo de Media Query para móviles pequeños */
@media (max-width: 360px) {
  /* Estilos específicos para móviles pequeños */
}

/* Otros ejemplos de Media Queries para diferentes tamaños de pantalla */
@media (max-width: 375px) {
  /* Estilos específicos para móviles medianos */
}

@media (max-width: 720px) {
  /* Estilos específicos para smartphones grandes */
}

@media (max-width: 1366px) {
  /* Estilos específicos para ordenadores portátiles medianos */
}

@media (max-width: 1440px) {
  /* Estilos específicos para ordenadores de escritorio medianos */
}

@media (max-width: 1920px) {
  /* Estilos específicos para PC de escritorio grande */
}